{{!partial help extract smaller components from a template to reuse in other templates}}

<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="_blank" <span class="user-info">{{user.username}} on {{format_date crerated_at}}</span></a>
  </div>
  <div class="comments">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>